NET "Clock_100MHz" LOC = AH15;
NET "Clock_100MHz" IOSTANDARD = LVTTL;

NET "Clear_n" LOC = U25;
NET "Clear_n" IOSTANDARD = LVCMOS18;
 

# LCD Signals
NET "LCD_E" LOC = AC9;
NET "LCD_E" IOSTANDARD = LVTTL; 

NET "LCD_RS" LOC = J17;
NET "LCD_RS" IOSTANDARD = LVCMOS25; 

NET "LCD_RW" LOC = AC10;
NET "LCD_RW" IOSTANDARD = LVTTL;

NET "LCD_DB[7]" LOC = T11;
NET "LCD_DB[7]" IOSTANDARD = LVTTL; 

NET "LCD_DB[6]" LOC = G6;
NET "LCD_DB[6]" IOSTANDARD = LVTTL; 

NET "LCD_DB[5]" LOC = G7;
NET "LCD_DB[5]" IOSTANDARD = LVTTL;

NET "LCD_DB[4]" LOC = T9;
NET "LCD_DB[4]" IOSTANDARD = LVTTL; 